<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <title>Martin Lindsey</title>
    <link rel="stylesheet" href="public/styles/normalize.css">
    <link rel="stylesheet" href="public/styles/main.css"> 
    <link href='https://fonts.googleapis.com/css?family=Changa+One|Open+Sans:400,400italic,800,700italic,700' rel='stylesheet' type='text/css'>
    
    <!-- I think this is a duplicate line. -->
    <!-- <link rel="stylesheet" href="styles/main.css"> -->
</head>    
<body>
<div>
    <div>
        <a href="index.html" id="logo">
        <h1>Martin Lindsey About Page</h1>
      </a>
      <nav>
        <ul>
          <!-- <li><a href="index.html" class="selected">Home</a></li> -->
          <li><a href="/">Home</a></li>
          <li class="active"><a href="/about">About Martin<span class="sr-only">(current)</span></a></li>
          <li><a href="/eblast">E-Blast</a></li>
          <li><a href="/contact">Contact Me</a></li>
        </ul>
      </nav>
        </div>
        <br/>
        <div>
        <p>I'll add some info here.</p>
        </div>
     <footer>
        <a href="https://twitter.com/phunkymarty"><img src="public/img/twitter-wrap.png" alt="Twitter Logo" class="social-icon"></a>
        <a href="https://www.facebook.com/PhunkyMarty/"><img src="public/img/facebook-wrap.png" alt="Facebook Logo" class="social-icon"></a>
        <p>&copy; 2016 Martin Lindsey.</p>
      </footer>
    </div>
    </body>
</html>