<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <title>Martin's Final</title>
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/main.css"> 
    <link href='https://fonts.googleapis.com/css?family=Changa+One|Open+Sans:400,400italic,800,700italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/main.css">
</head>    
<body ng-app="">
<header>
      <a href="index.html" id="logo" >
        <h1>Page Menu Navigation Project</h1>
      </a>
      <nav class="{{ active }}" ng-click="$event.prevent.Default()">
        <ul>
          <!-- <li><a href="index.html" class="selected">Home</a></li> -->
          <li><a href="index.html" class="home" ng-click="active='home'">Home</a></li>
          <li><a href="about.html" class="about" ng-click="active='about'">About</a></li>
          <li><a href="contact.html" class="contact" ng-click="active='contact'">Contact</a></li>
        </ul>
      </nav>
    </header>
<!-- <script src="scripts/app.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    
     <section>
        <p>The mission of the Alliance is to bring the need and the people who want change together – and ultimately to build an anti-racist majority.</p>

         <p>Racism destroys everyone. It stunts the lives of people of color, especially the young. And it destroys whites, too, because it makes it impossible for us to build unity to solve pressing social problems that face us all.</p>
         
         <p>"We have been around for over 25 years fighting racial injustice in Louisville."</p>
         
         <p>We address specific instances of racism in the community:
             Racism in Police Practices (see Citizens Against Police Abuse)
             Racism in Employment and Economic Opportunity
             Racism in our School System, see Parents Involved in Education (PIE)
             Racism in our Courts
             Racism in Prisons
             Racism in the Environment
             And Fairness For All</p>
     </section>
     <footer>
        <a href="https://twitter.com/ky_alliance"><img src="img/twitter-wrap.png" alt="Twitter Logo" class="social-icon"></a>
        <a href="https://www.facebook.com/kyalliance/"><img src="img/facebook-wrap.png" alt="Facebook Logo" class="social-icon"></a>
        <p>&copy; 2016 Martin Lindsey.</p>
      </footer>
    </body>
</html>