<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <title>Kentucky Alliance</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/main.css">
    <link href='https://fonts.googleapis.com/css?family=Changa+One|Open+Sans:400,400italic,800,700italic,700' rel='stylesheet' type='text/css'>
    <!-- <script src="scripts/app.js"></script> -->
</head>  
<body>
    <div>
    <div>
        <a href="index.html" id="logo">
        <h1>Kentucky Alliance Against Racial & Political Repression</h1>
      </a>
      <nav>
        <ul>
          <!-- <li><a href="index.html" class="selected">Home</a></li> -->
          <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
          <li><a href="/about">About us</a></li>
          <li><a href="/contact">Contact us</a></li>
        </ul>
      </nav>
        </div>
        <br/>
        <div>
            <p>
            Welcome to the online portal of Kentucky Alliance.
            </p>
        </div>
    
     <footer>
        <a href="https://twitter.com/ky_alliance"><img src="img/twitter-wrap.png" alt="Twitter Logo" class="social-icon"></a>
        <a href="https://www.facebook.com/kyalliance/"><img src="img/facebook-wrap.png" alt="Facebook Logo" class="social-icon"></a>
        <p>&copy; 2016 Martin Lindsey.</p>
      </footer>
    </div>
    </body>
</html>